<h2>Chunks Information</h2>
<dl>
  <dt>Name</dt>
  <dd><%= @chunk_info[:name]%></dd>

  <dt>Full path</dt>
  <dd><%= @chunk_info[:full_path]%></dd>

  <dt>Size</dt>
  <dd><%= @chunk_info[:size]%></dd>
</dl>